@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: .4s;	
}

body{
	font-family: 'Montserrat', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

li{
	list-style: none;
}

.nav-link{
	color: #75757e;
	font-size: 18px!important;
	font-weight: 700;
	
}

header .nav-link:hover {
    color: #3bb44ade!important;
    
}

.nav-item{
	padding: 0 20px;
	position: relative;
}

.nav-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #3bb44ade;
	left: 0;
	transform: scale(0);
	bottom: -2px;
	transition-duration: .5s;
}

header .nav-item:hover .nav-link:before{
	transform: scale(.6);
	bottom: 4px;
}



header img, svg {
    vertical-align: middle;
    width: 120px;
	
}

.bg-light {
    background-color: #f8f9fa!important;
    border-bottom: 1px solid #607d8b8f;
}

/*header{
	border-bottom: 1px solid #979797;

}*/


section{
	padding: 60px 0;
}

.banner_section{
	
	background-size: cover;
	background: linear-gradient(136.73deg, #4D8CE0 5.52%, #0A3A79 72.57%);
	padding: 120px 0 70px;
}

.banner_inner {
    padding-left: 50px;
}

.banner_inner h1 {
    font-size: 40px;
    color: #fff;
    line-height: 1.6;
    max-width: 368px;
}

.banner_inner li {
    list-style: disc;
    font-weight: 500;
    color: #fff;
    line-height: 2;
	
}

.banner_inner .btn-custom {
    background: #FF764B;
    color: #fff !important;
    border-color: #ff764b;
    padding: 13px 70px;
    display: inline-block;
    margin: 0 0 0 35px;
    font-size: 18px;
   	box-shadow: 5px 10px 18px #2196f345;
}

/* .banner_inner .btn-custom:hover{
    background: #fff;
    color: #FF764B !important;

} */



.ecommerce_section{
	background-color: #fafafa;
}

.ecommerce_section .btn-custom{
	background: #3bb44a;
	color: #fff;
	border-color: #3bb44a;
	font-size: 20px;
	padding: 10px 55px;
	border-radius: 0;
	box-shadow: 5px 10px 18px #8888882b;
}

/* .ecommerce_section .btn-custom:hover{
	background: #fff;
	color: #3bb44a;
} */

.ecommerce_section h1{
	color: #3bb44a;
	font-weight: 700;
}

.ecommerce_section p{
	font-size: 18px;
    line-height: 1.8;
    margin: 10px auto;
    max-width: 1052px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;

}
.feature_img{
	padding: 73px 43px;
	background-color: #fafafa;
	border: 1px solid #000;
}
.product_section{
	    padding: 60px 0 90px;
}

.product_section .btn-custom{
	background: #3bb44a;
	color: #fff;
	border-color: #3bb44a;
	font-size: 18px;
	padding: 10px 55px;
	border-radius: 0;
	box-shadow: 5px 10px 18px #8888882b;
}

/* .product_section .btn-custom:hover{
	background: #fff;
	color: #3bb44a;
} */

.product_section p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.8;
    font-weight: 500;
    padding: 0 70px;
    text-align: left;
    margin-bottom: 20px;
}

.footer_widget{
	background: #f2f1f1;
	padding: 60px 0 0;
}

.footer_widget a{
	color: #828286;
	line-height: 2.4;
	display: block;
	font-size: 18px;
}

.footer_widget h6{
	color: #52525b;
	font-size: 26px;
}

 .fooot{
	color: #4681d6;
}

.footer_widget .linee{
	display: block;
	width: 100%;
	height: 1px;
	background: #828286;
	transform: scale(.7);
	margin: 40px auto 0;
}

footer{
	background: #f2f1f1;
	padding: 10px 0;
}

footer ul{
	display: block;
}

footer ul li{
	display: inline-block;
	margin-left: 15px;
}

footer ul li a{
	font-size: 26px
	
} 

footer ul li .fa{
	color: #828286;
}


/************************/

.changing_section {
    background: linear-gradient(159deg, rgb(33 150 243 / 8%) 0%,rgb(76 175 80 / 4%) 50%,rgba(255,255,255,0.1) 50%,rgb(204 204 204 / 5%) 50%,rgb(204 204 204 / 0%) 90%);
    background-image: url(../img/zipify_about_pattern.png) center no-repeat;
    background-size: cover;
    padding: 170px 0 30px;

}

.changing_section h1 {
    font-size: 32px;
    font-weight: 700;
    max-width: 500px;
    color: #56565E;
    word-spacing: 1px;
    line-height: 1.4;
}

.changing_section p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 635px;
    color: #75757e;
    line-height: 1.7;
    margin-bottom: 25px;
}


.btn-custom {
    background: #3bb44a;
    color: #fff !important;
    border-color: #3bb44a;
    padding: 11px 55px;
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 5px 10px 18px #8888882b;
}

/* .btn-custom:hover{
	background: #fff;
    color: #3bb44a !important;
} */

.ezra_section {
    padding: 60px 0 0;
}

.btn-link{
	font-size: 18px;
	color: #40B252;
	text-decoration: none;
	padding: 0;
}

.ezra_section p{
	font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 635px;
    color: #75757e;
    line-height: 1.6;
}

.ezra_section h1{
	font-size: 32px;
    font-weight: 700;
    max-width: 500px;
    color: #56565E;
}

.ezra_text{
	padding: 60px;
}


.btn-primary {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    padding: 15px 40px;
    display: block;
    box-shadow: 5px 10px 18px #8888882b;
	font-size: 18px;
}

 .btn-primary:hover {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
} 


.form-control {
    padding: 14px 30px;
    font-weight: 600;
    width: 75%;
    margin-left: auto;
    display: block;
}

.contact_section{
	background: #52535e;
	padding: 60px 0 90px;
}

.contact_section h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.contact_section h1 {
	font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 20px auto;
    max-width: 911px;
    padding-bottom: 10px;
}



/**************************/


.contact_section{

}

.contact2_inner{
	width: 100%;
	position: relative;
}

.contact_text {
    position: absolute;
    top: 33%;
    right: 11%;
}

.contact_text p {
    max-width: 356px;
    margin: 30px 0 0;
    color: #4f7384;
    font-weight: 500;
}

.contact2_section .logopic{
	width: 180px;
}

.contact2_section .contact_inner {
    margin-top: 60px;
}

/*****************/

.marketion_section {
    background: linear-gradient(159deg, #ffffff3d 0%,rgb(76 175 80 / 18%) 50%,rgba(255,255,255,0.1) 50%,#8bc34a21 50%,rgb(139 195 74 / 19%) 90%);
    padding: 120px 0 70px;
}

.marketing_inner{

}

.marketing_inner h1{
	color: #3bb44a;
    font-weight: 700;
}

.marketing_inner p{
	font-size: 18px;
    line-height: 1.7;
    margin: 20px 0;
}


.changing_section .about_img {
    text-align: right;
    width: 450px;
    margin: 8px auto 0;
}


.btn{
	text-transform: uppercase;
    transition: all 0.3s linear !important;
}

.btn:hover{
    transform: translateY(-5px);
    
}


/***********BLOG************/


.blog_feature {
    padding: 60px 0;
}

.for_filters {
    width: 70%;
    margin: 0 auto 40px;
    text-align: center;
    
}

.btn-danger {
    margin: 0 15px;
    font-size: 16px;
    border-radius: 0;
    background-color: #ededed;
    color: #9d9d9d;
    padding: 8px 20px;
    border: 1px solid #9d9d9d;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}



.btn-danger:hover {
    color: #bd2130;
    border: 1px solid #9d9d9d;
    background:#ededed;
}

.blog_feature .port_items {
    margin: 0 0 35px;
    width: 100%;
}

.blog_feature .card {
    margin: 0 auto;
}

.blog_feature .card-body {
    background: #f2f2f2;
}

.btn-check:active+.btn-danger, .btn-check:checked+.btn-danger, .btn-danger.active, .btn-danger:active, .show>.btn-danger.dropdown-toggle {
    color: #9d9d9d;
    background-color: #ededed;
    border-color: #9d9d9d;
    box-shadow: 0 0 0 0 ;
}

.btn-check:focus+.btn-danger, .btn-danger:focus{
	color: #9d9d9d;
    background-color: #ededed;
    border-color: #9d9d9d;
    box-shadow: 0 0 0 0 ;
}

.blog_banner {
    padding: 120px 0 10px;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(49,132,253,.5);
}

